.card {
    min-width: 275px;
    height: auto;
    box-shadow: none;
}

.bullet {
    display: inline-block;
    margin: '0 2px';
    transform: 'scale(0.8)';
}

.title {
    margin-bottom: 16px;
    font-size: 14px;
}

.pos {
    margin-bottom: 12px;
}