<!-- Primjer 1.0 -->
<body>
    <div id="container">
        <!-- React element is inserted here  -->
    </div>

    <script>
        var naslov = React.createElement("h1", null, "Diplomski rad")

        ReactDOM.render(naslov, document.getElementById("container"))
    </script>
</body>

<!-- index.html -->
<body>
    <div id="container">
        <!-- React element is inserted here  -->
    </div>

    <script src="skripta.js"></script>
</body>